# Local terraform dir
.terraform/*
**/.terraform/*

#Tf state files

*.tfstate
*.tfstate.*

# variables file gh

*.tfvars

# ignore CLI config file

.terraformrc
terraform.rc

#ignore Crash.log file

crash.log